body {
    padding: 0px;
    background: white;
}

.productsTable {
    border-collapse: separate;
    float: left;
    border-spacing: 4vw 10vh;
}

.img-product {
    width: 100%;
    max-width: 100px;
}

.img-basket {
    width: 100%;
    max-width: 200px;
    float: left;
    margin-left: 10vw;
    margin-top: 10vh;
}

@keyframes movedd {
    /*0% {*/
    /*    margin-left: 0px;*/
    /*    animation-timing-function: linear;*/
    /*}*/
    40% {
        margin-left: 1vw;
        margin-top: 1vh;
        animation-timing-function: linear;
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(0.5, 0.5);
        margin-left: 1vw;
        margin-top: 1vh;
        animation-timing-function: linear;
    }
}

@keyframes bounce {
    /*0% {*/
    /*    margin-top: 50vh;*/
    /*    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1); !* from https://easings.net/#easeOutQuad *!*/
    /*}*/
    /*0% {*/
    /*    visibility: hidden;*/
    /*}*/
    /*1% {*/
    /*    visibility: visible;*/
    /*}*/
    20% {
        margin-top: 0;
        animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
        /* from https://easings.net/#easeInQuad */
    }
    40% {
        margin-top: 10vh;
        animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
        /* from https://easings.net/#easeOutQuad */
    }
    50% {
        margin-top: 4vh;
        animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
        /* from https://easings.net/#easeInQuad */
    }
    60% {
        margin-top: 10vh;
        animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
        /* from https://easings.net/#easeOutQuad */
    }
    70% {
        margin-top: 4vh;
        animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
        /* from https://easings.net/#easeInQuad */
    }
    80% {
        margin-top: 10vh;
        animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
        /* from https://easings.net/#easeOutQuad */
    }
    100% {
        margin-top: 10vh;
        visibility: hidden;
    }
}


/* @keyframes drawArc1 {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes drawArc2 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

body {
    padding: 150px;
    background: white;
}

.wrapper {
    width: 300px;
    animation: drawArc1 3s linear infinite;
}

.inner {
    border-radius: 50%;
    display: inline-block;
    padding: 30px;
    background: yellowgreen;
    animation: drawArc2 3s linear infinite;
} */